@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

html {
    scroll-behavior: smooth;
    scroll-snap-type:y proximity;
    scroll-snap-align: start;
}

body {
    background-image: linear-gradient(to right, black, rgb(31, 12, 33), rgb(67, 0, 67));
    color: blanchedalmond;
    overflow-x: hidden;
    overflow-y: scroll !important;
}


.c-rj {
    color: blanchedalmond;
    animation: fade_in 1s;
    z-index: 3;
}

#rj {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5.625rem;
}

#c-dev,
#c-email {
    font-family: "Marcellus", serif;
    font-weight: 500;
    font-style: normal;
    color: azure;
}

#c-email {
    color: blanchedalmond;
    font-size: 1em;

}


#projects:not(:last-child) {
    .card {
        scroll-snap-stop: always;
        scroll-snap-align: center;
    }
}


h4,
.c-offer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
    font-size: large;
    margin-top: 3em;
    max-width: 60ch;
}

a {
    color: antiquewhite;
    text-decoration: none;
}


.card {
    display: flex;
    align-items: center;
    color: blanchedalmond;
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 50px;
    transition: transform 0.4s;
    animation: fade_in 1s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 2px 5px 20px rgb(255, 0, 247);
}

@media screen and (max-width:576px) {
    h5.card-title {
        font-size: small;
    }

    p.card-text {
        font-size: x-small;
    }
}

@media screen and (min-width:768px) {
    h5.card-title {
        font-size: large;
    }

    p.card-text {
        font-size: small;
    }
}

@media screen and (min-width:992px) {
    h5.card-title {
        font-size: x-large;
    }

    p.card-text {
        font-size: small;
    }
}

@media screen and (min-width:1200px) {
    h5.card-title {
        font-size: xx-large;
    }

    p.card-text {
        font-size: large;
    }
}

@media screen and (min-width:1400px) {
    h5.card-title {
        font-size: xx-large;
    }

    p.card-text {
        font-size: large;
    }
}

.c-music {
    flex: 1;
    object-fit: cover;
}


ul {
    list-style-type: none;
    padding: 0%;
    margin: 0;
    display: inline;
}

.c-socialIcons li {
    display: inline;
}

.nav-link {
    font-family: "Marcellus", serif;
    font-weight: 300;

}

footer {
    font-family: "Marcellus", serif;
    font-weight: 500;
    font-style: normal;
    font-size: small;
}

p {
    font-size: small;
}

h4 {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}


i.bi:hover {
    color: rgba(194, 119, 255, 0.826);
    text-shadow: 2px 5px 20px rgb(255, 0, 247);
}

img.d-block.w-100 {
    animation: fade-in 1s;
    ;
}




/* INFI Scroll CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
  margin: 0px;
}

.wrapper {
  width: 97%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 200px;
  margin-top: 4rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}


.item {
  width: 400px;
  height: auto;
  border-radius: 25px;
  position: absolute;
  left: max(calc(400px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  img {
    width: 400px;
    height:auto; 
    filter: grayscale(30%) sepia(20%); 
  }
} 

.item1 {
  animation-delay: calc(60s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(60s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(60s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(60s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(60s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(60s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(60s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(60s / 8 * (8 - 8) * -1);
}