body {
    margin: 5px;
    padding:10px;
    color:blanchedalmond;
    
}

.navbar {
    padding: 2px;
}

.navbar-nav {
    flex-direction: row;
}
.navbar-navdrop {
    flex-direction: column;   
}

.navbar-nav .nav-item {
    margin-left: 2rem;
}


.content {
    padding: 2%;
}


.card {
    background-color: transparent;
    color:cornsilk;
    padding:20px;
    margin: 20px;
    border: none;
    transition: all 0.3s ease-in-out;
}
.card-body {
    flex: 1;
    min-width: auto;
    min-height: 200px;
}
.card-img {
    max-width: 400px; 
    object-fit:contain; 
    min-width: auto;
    min-height: auto;
    transition: transform 0.3s ease-in-out;
    display: block;
    position: static;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 10px 10px rgba(255, 128, 206, 0.877);
}

.card:hover .card-img {
    transform: translateY(-20px);
}

.card-horizontal {
    display: flex;
    flex-direction: row;
}

.card-horizontal .card-body {
    flex: 1;
}

@media (max-width: 576px) {
    .card-horizontal {
        flex-direction: column;
        font-size: xx-small;
    }
}
@media (max-width: 720px) {
    .card-horizontal {
        flex-direction: column;
        font-size: x-small;
    }
}
@media (max-width: 900px) {
    .card-horizontal {
        flex-direction: column;
        font-size: smaller;
    }
}

.icons {
    width: 30px;
    height: 30px;
    margin: 10px;    
}

.icons:hover {
    box-shadow: 0px 10px 10px rgba(255, 128, 206, 0.877);
    transform: translateY(-5px);
}

footer {
    background-color: rgba(167, 164, 164, 0.214);
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color:rgb(184, 2, 194);
}

a:hover {
    color:rgb(191, 103, 255);
    text-decoration: none;
}

.contactss {
    padding: 25px;
    text-align: center;
}

.image {
    display: block;
    width: 100%;
    height: 500px;
    position: static;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 54% 100%);
    transform: translate(15%, 0%);
    object-fit:cover;
    filter: brightness(20%);
}
@media (max-width: 576px) {
    .image {
        height: 200px;
    }
}
@media (max-width: 720px) {
    .image {
        height: 300px;
    }
}

.image1 {
    display: block;
    width: 100%;
    height: 500px;
    position: absolute;
    clip-path: polygon(0% 0, 50% 0, 100% 100%, 0% 100%);
    object-fit: cover;
    filter: brightness(20%);
    transform: translate(-40%, 10%);
    z-index:0;
    
}

@media (max-width: 900px) {
    .image {
        height: 420px;
    }
}
@media (max-width: 900px) {
    .image1 {
        height: 420px;
    }
}
@media (max-width: 750px) {
    .image {
        height: 340px;
    }
}
@media (max-width: 750px) {
    .image1 {
        height: 340px;
    }
}

@media (max-width: 600px) {
    .image {
        height: 230px;
    }
}
@media (max-width: 600px) {
    .image1 {
        height: 230px;
    }
}

@media (max-width: 512px) {
    .image {
        height: 200px;
    }
}
@media (max-width: 512px) {
    .image1 {
        height: 200px;
    }
}

.text {
    font-family: "Cormorant SC", serif;
    font-weight:normal;
    position: absolute;
    color:rgb(184, 137, 68);
    font-size: 108px; /* Adjust the font size as needed */
    text-align: left;
    top: 100px;
}
#name {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}

@media (max-width: 910px) {
    #iam {
        font-size: 95px;
    }
}
@media (max-width: 810px) {
    #iam {
        font-size: 80px;
        top: 100px;
    }
}
@media (max-width: 640px) {
    #iam {
        font-size: 60px;
        top: 120px;
    }
}
@media (max-width: 576px) {
    #iam {
        font-size: 40px;
        top: 100px;
    }
}
@media (max-width: 500px) {
    #iam {
        font-size: 35px;
        top: 100px;
    }
}

#myPic {
    width: auto;
    height: 520px;
}

@media (max-width: 500px) {
    #myPic {
        width: auto;
        height: 350px;
    }
}